@font-face {
  font-family: "Avenir";
  src: url(/public/fonts/avenir/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "GilroyLight";
  src: url(/public/fonts/gilroy/Gilroy-Light.otf);
}

@font-face {
  font-family: "GilroyBold";
  src: url(/public/fonts/gilroy/Gilroy-ExtraBold.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
