@font-face {
  font-family: "AvenirBook";
  src: url(/public/fonts/avenir/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "AvenirRoman";
  src: url(/public/fonts/avenir/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: "Avenir";
  src: url(/public/fonts/avenir/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: "GilroyLight";
  src: url(/public/fonts/gilroy/Gilroy-Light.otf);
}

@font-face {
  font-family: "GilroyBold";
  src: url(/public/fonts/gilroy/Gilroy-ExtraBold.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-background text-white;
}

.btn {
  @apply border-black 
  inline-block rounded-lg cursor-pointer 
  text-center bg-black font-normal text-white 
  font-avenirBook text-base 
  border border-solid 
  leading-[22px] tracking-[-0.4px];
  -webkit-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}

.blue {
  @apply py-[10px] px-6 bg-blue-1500;
}
