@font-face {
  font-family: "AvenirBook";
  src: url(/public/fonts/avenir/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "AvenirRoman";
  src: url(/public/fonts/avenir/AvenirLTStd-Roman.otf);
}

@font-face {
  font-family: "Avenir";
  src: url(/public/fonts/avenir/AvenirLTStd-Black.otf);
}

@font-face {
  font-family: "GilroyLight";
  src: url(/public/fonts/gilroy/Gilroy-Light.otf);
}

@font-face {
  font-family: "GilroyBold";
  src: url(/public/fonts/gilroy/Gilroy-ExtraBold.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-background text-white;
}

.btn {
  @apply border-black 
  inline-block rounded-lg cursor-pointer 
  text-center bg-black font-normal text-white 
  font-avenirBook text-base 
  border border-solid 
  leading-[22px] tracking-[-0.4px];
  -webkit-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}

.blue {
  @apply py-[10px] px-6 bg-blue-1500;
}

@-webkit-keyframes scaling-dots {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40%,
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaling-dots {
  0%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40%,
  60% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.scaling-dots {
  display: grid;
  height: 10px;
  grid-gap: 5px;
  grid-template-columns: repeat(4, 10px);
}
.scaling-dots div {
  -webkit-animation: scaling-dots 1s infinite ease backwards;
  animation: scaling-dots 1s infinite ease backwards;
  @apply bg-primary w-[10px] h-[10px] rounded-full;
}
.scaling-dots div:nth-child(1) {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.scaling-dots div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.scaling-dots div:nth-child(3) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.scaling-dots div:nth-child(4) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
